.page-intro {
  display: none;
  position: relative;
  z-index: -1;

  @media (min-width: $bp-large) {
    display: block;
    height: 0;
  }

  &__inner {
    position: relative;
    background: white;

    .grey-them & {
      background: $color-grey;
    }
  }

  &__layout {
    padding-top: $grid-padding;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__hero {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    max-height: calc(100vh - #{5 * $grid-padding});
  }

  &__video {
    height: 0;
    padding-bottom: 40.625%;

    video {
      width: 100%;
    }
  }

  &__bottom {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: calc(25% - 1px);
      height: 100%;
      @include grid-line-left();
    }
  }
}
