.retailers-page {

  &__contact-info {
    padding-top: 7 * $grid-padding;
    padding-bottom: 5 * $grid-padding;

    @media (min-width: $bp-large) {
      padding-top: 5 * $grid-padding;
      padding-bottom: 3 * $grid-padding;
    }
    .retailers-page__result {
      margin-top: 4 * $grid-padding;
      margin-left: -1 * $grid-padding;
      margin-right: -1 * $grid-padding;

      @media (min-width: $bp-large) {
        margin-top: 2 * $grid-padding;
      }
    }
  }



  &__gmaps {
    width: 100%;
    background: $color-grey;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;

      @media (min-width: $bp-large) {
        padding-top: 56.5%;
      }
    }
  }

  &__results {
    width: 100%;

  }

  &__result {
    .header-small {
      padding-top: 2 * $grid-padding;
      padding-bottom: 2 * $grid-padding;
    }

    .retailers {
      display: flex;
      flex-wrap: wrap;
    }
    .retailer {
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      padding-bottom: 2 * $grid-padding;
      box-sizing: border-box;

      @media (min-width: $bp-medium) {
        width: 50%;
      }
      @media (min-width: $bp-large) {
        width: 25%;
      }

      .address {
        margin-top: 0.5 * $grid-padding;
        margin-bottom: 0.5 * $grid-padding;
      }

      .email {
        margin-top: 0.5 * $grid-padding;
      }

      .contact {
        position: relative;

        p {
          &:last-child {
            position: absolute;
            top: 0;
            left: 80px;
          }
        }
      }
    }
  }

  &__search {
    //display: none;
  }
}
