mixin globalFooter()
  footer.footer.l-page-container
    .footer__inner.text.l-row.gl-bot.gl-bot--pull-left
      .footer__lang
        strong en
        |  / dk
      .l-col-2.l-col-lg
        .footer__section
          .footer__content
            strong about
            ul
              li
                a.link(href="#") history
              li
                a.link(href="#") news
              li
                a.link(href="retailers.html") locate dealer
              li
                a.link(href="#") contact
              li
                a.link(href="#") installation
              li
                a.link(href="#") certificates
      .l-col-2.l-col-lg
        .footer__section
          .footer__content
            strong collections
            ul
              li
                a.link(href="#") Arne Jacobsen
              li
                a.link(href="#") Jean Nouvel
              li
                a.link(href="#") Knud Holscher
              li
                a.link(href="#") Bjarke Ingels
      .l-col-2.l-col-lg
        .footer__section
          .footer__content
            strong cases
            ul
              li
                a.link(href="#") Grace Farms
              li
                a.link(href="#") Via West 57
              li
                a.link(href="#") locate dealer
              li
                a.link(href="#") contact
      .l-col-2.l-col-lg.gl-left-lg
        .footer__section
          .footer__content
            .footer__lang
              strong en
              |  / dk
            strong follow us
            ul
              li
                a.link(href="#") pinterest
              li
                a.link(href="#") instagram
              li
                a.link(href="#") twitter
              li
                a.link(href="#") facebook
