.l-row {
  display: flex;
  flex-wrap: wrap;

  .l-col-pad {
    //padding-left: $grid-padding-mobile;
    //padding-right: $grid-padding-mobile;

    //@media (min-width: $bp-large) {
      padding-left: $grid-padding;
      padding-right: $grid-padding;
    //}
  }

  .l-col {
    position: relative;
    width: 25%;
    box-sizing: border-box;
  }

  .l-col-2 {
    @extend .l-col;
    width: 50%;

    &-lg {
      @extend .l-col;
      width: 100%;

      @media (min-width: $bp-large) {
        width: 50%;
      }
    }
  }
  .l-col-3 {
    @extend .l-col;
    width: 75%;

    &-lg {
      @extend .l-col;
      width: 100%;

      @media (min-width: $bp-large) {
        width: 75%;
      }
    }
  }
  .l-col-4 {
    @extend .l-col;
    width: 100%;

    &-lg {
      @extend .l-col;
      width: 100%;

      @media (min-width: $bp-large) {
        width: 100%;
      }
    }
  }

  .l-col-lg {
    box-sizing: border-box;
    position: relative;

    @media (min-width: $bp-large) {
      width: 25%;
    }
  }
  .l-col-2-lg {
    box-sizing: border-box;

    @media (min-width: $bp-large) {
      width: 50%;
    }
  }
  .l-col-3-lg {
    box-sizing: border-box;

    @media (min-width: $bp-large) {
      width: 75%;
    }
  }
  .l-col-4-lg {
    box-sizing: border-box;

    @media (min-width: $bp-large) {
      width: 100%;
    }
  }

  .l-col-offset-0 {
    margin-left: 0%;
  }
  .l-col-offset-1 {
    margin-left: 25%;
  }
  .l-col-offset-2 {
    margin-left: 50%;
  }
  .l-col-offset-3 {
    margin-left: 75%;
  }

  .l-col-offset-0-lg {
    @media (min-width: $bp-large) {
      margin-left: 0%;
    }
  }
  .l-col-offset-1-lg {
    @media (min-width: $bp-large) {
      margin-left: 25%;
    }
  }
  .l-col-offset-2-lg {
    @media (min-width: $bp-large) {
      margin-left: 50%;
    }
  }
  .l-col-offset-3-lg {
    @media (min-width: $bp-large) {
      margin-left: 75%;
    }
  }
}
