extends _layouts/base

block content
    .l-page-container.article-page

        .news-details.gl-bot.gl-bot--pull-left
          .news-details__header
            span.news-details__meta.text februrary 9, 2017
            h1.header-large
              strong d line
              |design that endures
          .news-details__row
            .news-details__author-col
              span.text.author by Knud Holscher
            .news-details__article-col.article
              p.article__manchet d line is a leading Danish design brand that conceives and hand crafts enduring architectural hardware, sanitary ware and solutions for barrier-free living.
              .article__rich-text.text
                p In 1971, d line‘s first lever, the U-shape, Ø14 mm, was manufactured. It was followed by the L-shape, which firmly established the d line ethos of stalwart, minimalist design. The overriding characteristic of these first two levers has been maintained in d line products ever since: the bent sections on all metal tubes maintain the radius of the even sections. This ensures a well balanced visual impression.
                p Holscher’s work with ironmongery began in the early 1960’s when he was the supervising architect on St. Catherine’s College in Oxford and associated with Arne Jacobsen. Holscher remembers ‘thumbing through stacks of brochures to add bits and pieces together to make a scheme of ironmongery. As there were no coordinated series of ironmongery in the 60’s, it was a most opportune offer Holscher got on his return to Denmark.
                p Over the years more designs emerged from the hands of Knud Holscher and slowly, but consistently the product range formed a complete scheme af stainless steel designs.
            .news-details__img-col.gl-left-lg
              .news-details__img.lazy-image
                  img.lazy-image__image(data-src="images/testmedia/cases/SAS-Hotel-Copenhagen-Denmark-color.jpg")
                  .cell-load__overlay
              .news-details__img-caption Image: Small caption about the image Small caption about the image Small caption about the image

        .l-row.gl-bot.gl-bot--pull-left.promo
          .l-col-3-lg.gl-bot-sm.gl-bot--pull-left
            .promo__image.cell-load.dark-img(data-threshold-offset=300)
              img.greyscale-image.greyscale-image--fade-in(src="images/testmedia/cases/Case-image-color.jpg")
              .cell-load__overlay
          .l-col-lg.l-col-pad.promo__info
            .promo__caption
              p this is image caption with longer text
              svg.svg-icon
                use(xlink:href="images/assets/SVGSpriteSheet.svg#arrow")

        .news-details.gl-bot.gl-bot--pull-left
          .news-details__row
            .news-details__author-col
            .news-details__article-col.article
              .article__rich-text.text
                h4 Sub headline
                p In 1971, d line‘s first lever, the U-shape, Ø14 mm, was manufactured. It was followed by the L-shape, which firmly established the d line ethos of stalwart, minimalist design. The overriding characteristic of these first two levers has been maintained in d line products ever since: the bent sections on all metal tubes maintain the radius of the even sections. This ensures a well balanced visual impression.
                h4 Sub headline
                p Over the years more designs emerged from the hands of Knud Holscher and slowly, but consistently the product range formed a complete scheme af stainless steel designs.
            .news-details__img-col.gl-left-lg

        .news-details.gl-bot.gl-bot--pull-left
          .news-details__header
            span.news-details__meta.text our future
          .news-details__row
            .news-details__author-col
            .news-details__article-col.article
              p.article__manchet
                strong d line vision
                |  As a heritage Danish design brand, our vision at d line is to be universally known, coveted and admired for the uncompromising endurance of our design, craftsmanship and quality.
              p.article__manchet
                strong d line mission
                |  In d line’s creation of design that endures, we never want to stand still, pushing instead to evolve, to innovate and to lead in new areas where there is a need for our smart thinking and timeless designs. In doing so, we never forget our deep Danish design heritage.
            .news-details__img-col.gl-left-lg

        .l-row.gl-bot.gl-bot--pull-left.promo
          .l-col-3-lg.gl-bot-sm.gl-bot--pull-left
            .promo__image.cell-load.dark-img(data-threshold-offset=300)
              img.greyscale-image.greyscale-image--fade-in(src="images/testmedia/cases/Case-image-color.jpg")
              .cell-load__overlay
          .l-col-lg.l-col-pad.promo__info
            .promo__caption
              p this is image caption with longer text
              svg.svg-icon
                use(xlink:href="images/assets/SVGSpriteSheet.svg#arrow")

        .news-details.gl-bot.gl-bot--pull-left
          .news-details__header
            h1.header-large
              strong d line
              |the principles
          .news-details__row
            .news-details__author-col
            .news-details__article-col.article
              .article__rich-text.text
                h4 Sub headline
                p In 1971, d line‘s first lever, the U-shape, Ø14 mm, was manufactured. It was followed by the L-shape, which firmly established the d line ethos of stalwart, minimalist design. The overriding characteristic of these first two levers has been maintained in d line products ever since: the bent sections on all metal tubes maintain the radius of the even sections. This ensures a well balanced visual impression.
                h4 Sub headline
                p Holscher’s work with ironmongery began in the early 1960’s when he was the supervising architect on St. Catherine’s College in Oxford and associated with Arne Jacobsen. Holscher remembers ‘thumbing through stacks of brochures to add bits and pieces together to make a scheme of ironmongery. As there were no coordinated series of ironmongery in the 60’s, it was a most opportune offer Holscher got on his return to Denmark.
                h4 Sub headline
                p Over the years more designs emerged from the hands of Knud Holscher and slowly, but consistently the product range formed a complete scheme af stainless steel designs.
            .news-details__img-col.gl-left-lg

        .news-details.gl-bot.gl-bot--pull-left
          .news-details__header
            span.news-details__meta.text our future
          .news-details__row
            .news-details__author-col
            .news-details__article-col.article
              p.article__manchet
                strong Be bright
                |  Our designs are thought-through, straightforward and innovation-led. They are the result of our focused, smart and energetic attitude – an attitude that we sum up as bright.
                strong Be proud
                |  We have a strong design heritage and an integrity that we’re proud of. We are proud that our products are design classics that never date and we’re proud that they’re hand crafted to endure by our carefully trained specialists.
                strong Be ambitious
                |  We think that design is a living thing, so we constantly innovate across design, engineering and technology, seeing our pieces not so much as final solutions but as continuing evolutions. Be flexible We are thinkers, doers and problem-solvers. Because our solutions flex, there’s never a challenge too great, nor a project we’re above. We are also flexible as a                   company, with a global network that gives us knowledge on the ground and makes us accessible everywhere. Be bold We move into new areas, explore unknown markets and become present in countries previously unserved. We strive to be daring because we believe this to be the most direct path to creating new solutions.
            .news-details__img-col.gl-left-lg
              .news-details__img.lazy-image
                  img.lazy-image__image(data-src="images/testmedia/cases/SAS-Hotel-Copenhagen-Denmark-color.jpg")
                  .cell-load__overlay
              .news-details__img-caption Image: Small caption about the image Small caption about the image Small caption about the image
