extends _layouts/base

block variables
    - var page_title = 'news'


block content
  .l-page-container.products-overview(data-component="news-overview")
    ul.pagination.gl-bot.gl-bot--pull-left
      li.pagination__prev
          span.header-small(pagination-prev)
            strong prev
          span.pagination__paging.text
            span.pagination__paging-current 1-12
            span.pagination__paging-count ( 31 )

      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | 100 ton of Danish Design will be installed in Oslo!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | Knud Holscher Exhibition
                br
                | opening on January 29!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | 100 ton of Danish Design will be installed in Oslo!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | Knud Holscher Exhibition
                br
                | opening on January 29!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | 100 ton of Danish Design will be installed in Oslo!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | Knud Holscher Exhibition
                br
                | opening on January 29!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | 100 ton of Danish Design will be installed in Oslo!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | Knud Holscher Exhibition
                br
                | opening on January 29!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | 100 ton of Danish Design will be installed in Oslo!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | Knud Holscher Exhibition
                br
                | opening on January 29!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum.
            a(href="newsdetails.html").link.news-box__link read more
      li.pagination__item
        .news-box
            .news-box__date.text february 9, 2017
            a(href="newsdetails.html")
              h3.news-box__title.header-small
                | 100 ton of Danish Design will be installed in Oslo!
            p.news-box__text.text Phasellus fringilla lacinia tortor ut auctor. Praesent vel faucibus quam, at convallis odio.
            a(href="newsdetails.html").link.news-box__link read more

      li.pagination__next
        .pagination__next-content
          span.pagination__paging
            span.pagination__paging-current 1-11
            span.pagination__paging-count ( 31 )
          span.header-small(pagination-next)
            strong next
