extends _layouts/base

block variables
    - var page_title = 'news'

block content
    .l-page-container
      .news-details-page.gl-bot.gl-bot--pull-left(data-component="news-details")
        .news-details.gl-bot.gl-bot--pull-left
          .news-details__header
            span.news-details__meta.text februrary 9, 2017
            h1.header-large
              strong
                | 100 ton of Danish
                br
                | Design will be installed in Oslo!
          .news-details__row
            .news-details__author-col
              span.text.author by Knud Holscher
            .news-details__article-col.article
              .article__rich-text.text
                p Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non. Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non. Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non.
                p Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non. Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non. Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non.
                p Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non. Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non. Phasellus fringilla lacinia tortor ut auctor. Praesent vl faucibus quam, at convallis odio. Mauris arcu tortor, sagittis vel nisi condimentum, dapibus lacinia lacus. Suspendisse sed sapien ut est sollicitudin feugiat non.
            .news-details__img-col.gl-left-lg
              .news-details__img.lazy-image
                  img.lazy-image__image(data-src="images/testmedia/cases/SAS-Hotel-Copenhagen-Denmark-color.jpg")
                  .cell-load__overlay
              .news-details__img-caption Image: Small caption about the image Small caption about the image Small caption about the image
