.neuehaasgroteskdisplayregular {
  font-family: "Neue Haas Grotesk Disp Reg";
  font-style: Normal;
  font-weight: Normal;
}

.neuehaasgroteskdisplaybold {
  font-family: "Neue Haas Grotesk Disp Bd";
  font-style: Normal;
  font-weight: Normal;
}
