/* COLORS */

$color-grey: #e1e1e1; // Brugt til grid stregerne og til baggrund på lysegrå sider
$color-grey-2: #808080; // Brugt til baggrund i menu
$color-grey-3: #747474; // Brugt til mørk baggrund i menu
$color-grey-4: #303030; // Brugt til baggrund på page transition splash

$color-primary: #fc0f42; // Rød fremhævningsfarve

/* GRID LINES */
$grid-line-opacity: 0.12;
$grid-line-color: rgba(0,0,0,$grid-line-opacity);

/* SIZES */
$grid-padding-mobile: 3vw;
$grid-padding: 2vw;
//$global-menu-bar-height: 4 * $grid-padding;


/* BREAKPOINTS */
$bp-small: 400px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1300px;
$bp-xxlarge: 1600px;
